.navbar-brand {
	color: dimgrey;
	font-size: 200%
}
body {
	background-color: dimgrey;
}
.mb-3 {

	font-size: 200%;
	 color: darkred;

}
h1 {
  display: inline-block;
  margin: 0 0.5rem;
  color: darkred;
  animation: animate__bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */
}
